/* 
======================================================
Global Access
======================================================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

:root {
    --color1: #0C0C0C;
    --color2: #FFFFFF;
    --color3: #fcfcfc70;
    --font1: 'Open Sans', sans-serif;
    --font2: 'Montserrat', sans-serif;
}
/* 
======================================================
Navbar
======================================================
*/
nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav.navbar .logo {
    height: 70px;
    width: 80px;
}

.navbar .logo img {
    height: 100%;
    width: 100%;
}

nav.navbar .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style: none;
}
nav.navbar .nav-list li {
    margin-top: 10px;
}
nav.navbar .nav-list li a {
    font-size: 1.6rem;
    margin-right: 60px;
    font-family: var(--font2);
    color: #0C0C0C;
    font-weight: 560;
    text-decoration: none !important;
} 
nav.navbar .nav-list li a i {
    margin-left: 12px;
}
nav.navbar .menu {
    transition: all .4s;
    position: relative;
    transform: translateY(-5px);
}
nav.navbar .menu a {
    padding: 10px 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    font-size: 1.7rem;
    color: #0C0C0C;
    font-family: var(--font2);
}
nav.navbar .menu.menu:hover {
    transform: translateY(-15px);
}

.carousel-item {
    height: 90vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-item::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
}

.carousel-caption {
    bottom: 140px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h1 {
    font-size:  32px;
    letter-spacing: 1.2px;
    font-family: var(--font2);
    font-weight: 400 !important;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.carousel-caption p {
    font-size: 18px;
    font-family: var(--font2);
}
.carousel-caption .slider-btn {
    margin-top: 30px;
}
.carousel-caption .slider-btn a.btn{
    padding: 10px 28px;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: var(--font2);
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid #fff;
    border-radius: 10px;
    background: var(--color3);
}